@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.header-title,
h1 {
  font-family: "Indie Flower", cursive;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color: #0b0d0c;
}

.jumbotron img {
  position: relative;
  z-index: 2;
  margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
}

.jumbotron::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  content: " ";
  background-image: url("../assets/img/people-small.jpg");
  filter: blur(15px);
  background-size: contain;
  opacity: 0.9;
}

.jumbotron-bg img {
  opacity: 0.3;
}

p a {
  font-weight: 700;
  color: var(--bs-body-color);
  text-decoration: none;
}

p a:hover {
  font-weight: 700;
  color: var(--bs-body-color);
  text-decoration: underline;
}

.footer-menu ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  font-style: italic;
  color: var(--bs-white-rgb);
  list-style: none;
}

.footer-menu li {
  margin-top: 15px;
}

.footer-menu li:last-child {
  align-self: flex-end;
  padding-bottom: 15px;
  font-style: normal;
}

.footer-menu a {
  color: var(--bs-white-rgb);
  text-decoration: none;
}

.footer-menu a:hover {
  color: var(--bs-white-rgb);
  text-decoration: underline;
}

.conferences {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  justify-content: center;
}

.conferences-card {
  position: relative;
  z-index: 1;
  max-width: 100%;
  padding: 1rem;
}

.conferences-card::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  backface-visibility: hidden;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  transition-duration: 0.3s;
}

.conferences-card:hover::before {
  box-shadow: 3px 3px 10px -4px var(--bs-body-color);
}

.conferences-card:nth-child(odd):hover::before {
  box-shadow: 3px 3px 10px -4px var(--bs-body-color);
  transform: rotate(1deg);
}

.conferences-card:nth-child(even):hover::before {
  box-shadow: -3px 3px 10px -4px var(--bs-body-color);
  transform: rotate(-1deg);
}

.conferences-date {
  font-size: 0.8rem;
  font-style: italic;
}

@media (min-width: 576px) {
  .conferences {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
